body {
  margin: 0;
  font-family: "nunito";
  background-color: #f3f5f7;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 100%;
}

.card {
  margin: 15px;
  border-radius: 10px;
  background-color: #5224b7;
  color: white;
  font-size: 40px;
  font-weight: bold;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:nth-child(2) {
  animation: expand 2s linear infinite;
  animation-direction: alternate;
}

@keyframes expand {
  from {
    transform: scale(1);
    background-color: #5224b7;
  }

  to {
    transform: scale(1.2);
    background-color: #7646dd;
  }
}
